.advantages__intro {
  padding: 32px 18px;
}

.advantages__intro-title {
  padding-bottom: 35px;
}

.advantages__intro-description {
  padding-bottom: 16px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  background-color: #eeeeee;
  padding: 24px 26px;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 11px;
}

.advantages__number {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 17px;
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantages__item--large {
  background-color: @base-color;
  padding: 0;
}

.advantages__text {
  padding: 37px 18px;
}

.advantages__text .advantages__title,
.advantages__text .advantages__number,
.advantages__text .advantages__description {
  color: #ffffff;
}

.advantages__details-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 44px;
}

.advantages__details-item {
  background-color: #ffffff;
  text-align: left;
  padding: 23px 18px 2px 65px;
}

.advantages__photo {
  display: block;
}
