.find-hotel {
  padding: 38px 18px 49px;
}

.find-hotel__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 32px;
}

.find-hotel__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 32px;
}
