.find-hotel {
  padding: 38px 18px 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 60px 155px 59px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 155px 66px;
  }
}

.find-hotel__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 33px;
  }
}

.find-hotel__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 33px;

  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 46px;
  }
}


.find-hotel__button {
  width: 100%;

  @media (min-width: @desktop-width) {
    max-width: 458px;
  }
}
