.intro {
  color: #000000;
  background-color: #999999;
  background-image: url(../img/intro-triangle.svg), url(../img/intro-background.jpg);
  background-position: bottom center, center center;
  background-size: cover, cover;
  background-repeat: no-repeat;
  padding: 90px 15px 85px;
  min-height: 389px;
}
