.main-footer {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 76px;
    margin-bottom: 0s;
  }
}

.main-footer__text {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

