.photos {
  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.photos__intro {
  padding-top: 38px;
  padding-bottom: 20px;
}

.photos__intro-title {
  padding-bottom: 25px;
}

.photos__intro-description {
  padding-bottom: 16px;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 648px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #616161;
    max-width: 100%;
  }
}

.photos__item {
  display: block;
  border-top: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    border: none;
    background-color: #f2f2f2;
  }
}

.photos__item:first-child {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/4;
  }
}

.photos__item:last-child {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.photos__link {
  display: block;
}

.photos__image {
  display: inline-block;
  padding: 24px 0 11px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 100%;
    height: auto;
  }
}

.photos__text-wrapper {
  text-align: left;
  padding: 0 20px 25px;

  @media (min-width: @tablet-width) {
    padding: 22px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photos__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.photos__author {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.photos__likes {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding-left: 37px;
  padding-top: 17px;
  color: #000000;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.photos__likes::before {
  content: url("../img/like-icon.svg");
  position: absolute;
  top: 12px;
  left: 0;

  @media (min-width: @desktop-width) {
    content: url("../img/like-icon-white.svg");
  }
}
