.video {
  padding: 17px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}

.video__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-bottom: 32px;
  }
}

.video__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 38px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 40px 89px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 86px;
  }
}


.video__wrapper {
  position: relative;
}

.video__content {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 100%;
    height: auto;
  }
}

.video__button {
  display: block;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.7;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}
