.form-block__title {
  position: relative;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 4px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
  }

  &::before {
    content: "";
    width: 1000%;
    height: 1px;
    position: absolute;
    display: block;
    right: -100%;
    top: -4px;
    background-color: #e5e5e5;

    @media (min-width: @tablet-width) {
      right: calc(100% + 87px);
      top: 50%;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      width: 1000%;
      height: 1px;
      position: absolute;
      display: block;
      background-color: #e5e5e5;
      left: calc(100% + 87px);
      top: 50%;
    }
  }
}

.form-block__list {
  text-align: left;
}

.form-block__name-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.form-block__name-item {
  margin-bottom: 16px;
}

.form-block__contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 34px;
}

.form-block__contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-block__rating-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 36px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-left: 0;
  }
}

.form-block__rating-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-block__attraction-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 84px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-left: 0;
  }
}

.form-block__attraction-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-block__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.form-block__wrapper .form-block__title::before,
.form-block__wrapper .form-block__title::after {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-block__wrapper .form-block:first-of-type {
  @media (min-width: @tablet-width) {
    border-right: 1px solid #dbdbdb;
  }
}
