.review-form__block {
  position: relative;
  margin: 0;
  padding: 0 20px;
  border: 0;

  &:not(:last-of-type)::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    background-color: #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.review-form__end {
  margin: 56px auto 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.review-form__prompt {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  opacity: 60%;
  align-self: end;
}
